.header {
  text-align: center;
  margin: 25px 0px;
}

.header h2 {
  opacity: 0;

  text-align:center;
  background: linear-gradient(to right, black, blue, red, orange, black);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 7s colorCycle linear infinite, fadein 2s ease-in forwards;
}

@keyframes colorCycle {
  100% { background-position: 100vw 0px; };
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

td, th {
  width: 150px;
  text-align: center;
  padding: 5px 10px;
  margin: 0px 10px;
}

tbody tr:hover {
  background-color: #e6e6e6;
}

table {
  width: 100%;
}

td img {
  height: 150px;
  width: 250px;
}

td input {
  width: 150px;
}

td button {
  width: 75px;
  border-radius: 20px;
}

.saleErr {
  border-color: red;
  border-width: 3px;
  color: red;
}
